/* variables */
:root {
  /* colors */
  --text-color: #191919;
  --primary-color: #ff7010;
  --red-color: #e23535;
  --white-color: #fff;
  --black-color: #000;
  --gray-text-color: #a5a5a5;
  --gray-line-color: #f0f0f0;

  /* bg-colors */
  --white-bg-color: #fff;
  --black-bg-color: #000;
  --gray-bg-color: #f9f9f9;

  /* fonts */
  --inter-font: "Inter", "Arial", sans-serif;
  --pro-text: "SF Pro Text", "Arial", sans-serif;
}

/* global styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--pro-text);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  color: var(--text-color);
  background-color: var(--gray-bg-color);
}
main {
  flex-grow: 1;
}
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 100%;
  max-width: 1322px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.primary-btn {
  padding: 0.813rem 2rem;
  border-radius: 6px;
  background-color: var(--primary-color);
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--white-color);
}
.primary-btn:hover {
  opacity: 0.8;
}
.products {
  margin-bottom: 3rem;
}
.products .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.products__title {
  font-family: var(--inter-font);
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--black-color);
}
.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.875rem;
}
.products__item {
  background-color: var(--white-color);
  border-radius: 12px;
  border: 1px solid var(--gray-line-color);
}
.products__item-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
.products__item-content {
  padding: 1rem 1.25rem 1.25rem;
}
.products__item-title {
  font-weight: 600;
  color: var(--black-color);
}
.products__item-text {
  margin-top: 0.75rem;
}
.products__item-content div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.products__item-price {
  font-weight: 600;
  color: var(--primary-color);
}

/* navbar section styles */
.navbar {
  background-color: var(--white-bg-color);
}
.navbar-top {
  padding: 0.625rem 0;
  font-size: 0.875rem;
  font-family: var(--inter-font);
}
.navbar-top .container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.navbar-top__btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.navbar-top__btn:hover {
  text-decoration: underline;
}
.navbar-top__time {
  margin-right: auto;
}
.navbar-top__time span:last-child {
  font-weight: 600;
}

.navbar__line {
  width: 100%;
  background-color: var(--gray-line-color);
  border: none;
  height: 1px;
}

.navbar-bottom {
  padding: 0.75rem 0;
}
.navbar-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-bottom__logo {
  display: flex;
}
.navbar-bottom__cart {
  padding: 0.375rem 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 2px solid var(--primary-color);
  transition: all 0.2s ease;
}
.navbar-bottom__cart:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.navbar-bottom__cart:hover svg g {
  fill: var(--primary-color);
}
.navbar-bottom__cart svg g {
  transition: all 0.2s ease;
}

/* categories section styles */
.categories {
  margin: 1.875rem 0;
}
.categories__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.5rem;
}
.categories__item {
  width: 100%;
  max-width: 135px;
  padding: 1.25rem 0.625rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 12px;
  border: 1px solid var(--gray-line-color);
  gap: 0.5rem;
  user-select: none;
  cursor: pointer;
}
.categories__item:first-child {
  color: var(--red-color);
}
.categories__item:hover {
  color: var(--primary-color);
}

/* discount section styles */
.discount {
  margin-bottom: 1.875rem;
  position: relative;
}
.discount__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.875rem;
}
.discount__item {
  width: 100%;
  height: 343px;
  font-family: var(--inter-font);
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--white-color);
  padding: 1.25rem;
  border-radius: 12px;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
}
.discount__item:nth-child(odd) {
  background-image: url("../images/png/discount-one.png");
  background-size: contain;
  background-color: var(--primary-color);
}
.discount__item:nth-child(even) {
  background-image: url("../images/png/discount-two.png");
  background-position: top 72px left 0;
  background-color: var(--red-color);
}
.discount__btns {
  display: none;
}
.discount__btns button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a5a5a574;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: var(--white-color);
  user-select: none;
}
.discount__btns button:first-child {
  top: 50%;
  left: 2rem;
  transform: translate(0, -50%);
}
.discount__btns button:last-child {
  top: 50%;
  right: 2rem;
  transform: translate(0, -50%);
}

/* add loaciton styles */
.add-location {
  margin-bottom: 1.875rem;
}
.add-location__form {
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}
.add-location__label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
}
.add-location__label span {
  margin-right: 2rem;
}
.add-location__form input {
  font-size: 1rem;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  border: 1px solid var(--gray-line-color);
  border-radius: 6px;
  color: var(--text-color);
  display: block;
  flex-grow: 1;
  background-image: url("../images/svg/Location.svg");
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-repeat: no-repeat;
}
.add-location__form input::placeholder {
  color: var(--gray-text-color);
}

/* x-large */
@media (max-width: 1536px) {
}
/* large */
@media (max-width: 1280px) {
}
/* madium */
@media (max-width: 1024px) {
  .navbar-top {
    display: none;
  }
  .navbar__line {
    display: none;
  }
  .discount__item:nth-child(even) {
    background-size: contain;
  }
}
/* small */
@media (max-width: 768px) {
  .categories__list {
    flex-wrap: wrap;
  }
  .categories__item {
    width: auto;
    max-width: none;
    min-width: 150px;
    flex-grow: 1;
  }
}
/* x-small */
@media (max-width: 640px) {
  html {
    font-size: 80%;
  }
  .categories__item {
    min-width: 100px;
    padding: 1rem 0.5rem;
  }
  .categories__item img {
    width: 24px;
    height: 24px;
  }

  .discount__list {
    display: flex;
    gap: 0;
    overflow-x: hidden;
  }
  .discount__item {
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    background-size: cover !important;
    transition: transform 0.3s linear;
  }
  .discount__btns {
    display: block;
  }
  .add-location__form {
    padding: 1rem;
  }
  .add-location__label span {
    display: none;
  }
  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
}

/* xx-small */
@media (max-width: 500px) {
  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
  }
  .products__item-text {
    display: none;
    font-size: 1rem;
  }
  .products__item-content div {
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 0.5rem;
  }
}
